ul li {
	clear: both;
	list-style-type: none;

}

form {
	width: 40em;
	border: 1px solid #666;
	border-radius: 10px;
	box-shadow: .2em .2em .5em #999;
	background-color:#d0e9f6;
	padding: 1em;
	overflow: hidden;
	margin: 10px;
}

label {
	display: block;
	float: left;
	width: 10em;
	text-align: right;
	margin-right: .5em;
	color: #04699d;
}

input.textinput {
	width: 30em;
	height: 2em;
	border: 1px solid #666;
}
textarea {
	display: block;
	width: 30em;
	height: 5em;
	border: 1px solid #666;
	margin-bottom: 1em;
	line-height: 1.25;
	overflow: auto;
	resize: none;
}
input.textinput, textarea {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: .875em;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
legend {
	display: block;
	width: 10em;
	float: left;
	margin-right: .5em;
	text-align: right;
	color: #04699d;
}
#features label, #colors label {
	color: #000;
	display: inline;
	float: none;
	text-align: inherit;
	width: auto;
	font-weight: normal;
	background-color: inherit;
}
#colors ul li {
	display: inline;
	margin-bottom: 0;
}
#features ul {
	margin-left: 11em;
}
#features ul li {
	margin-bottom: 0;
	clear: none;
}

input[type="submit"], input[type="reset"] {
	display: block;
	width: 10em;
	height: 2em;
	float: left;
	background: white;
	font-size: inherit;
	border: 1px solid #04699d;
	border-radius: 4px;
	box-shadow: 2px 2px 3px rgba(0,0,0,.5);
}
input[type="submit"] {
	margin-left: 10.5em;
	margin-right: 1em;
	color: #C00; /* the submit button text is attention-getting red */
}