* {
	margin: 5px;
	padding: 0px;
	text-align: center;
}

#box1 {
	width: 200px;
	height: 800px;
	background-color: #a8e859;
	border: 1px solid #58a817;
	position: relative;
	float: left;
}

#box2 {
	width: 385px;
	height: 300px;
	background-color: #3da3ef;
	border: 1px solid #117ac8;
	position: static;
	float: left;
}

#box3 {
	width: 385px;
	height: 300px;
	background-color: #ff9800;
	border: 1px solid #117ac8;
	position: static;
	float: left;
}

#box4 {
	width: 250px;
	height: 800px;
	background-color: #ef0400;
	border: 1px solid #117ac8;
	position: relative;
	float: right;
}