#table-container {
	margin: 10px;
}

#table {
	 border: 1px solid black;
}

th, td {
	border: 1px solid black;
	padding: 5px !important;
}

tr:nth-child(even) {
	background-color: #6dc5ef;
}

tr:nth-child(odd) {
	background-color: #d1d1d1;
}

.table-head {
	background-color: orange;
}