/*body { /*CENTERING THE CONTENTS
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
}*/

#mommy {
	border: 2px solid blue;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	width: 700px;
	height: 300px;
	-webkit-box-align:stretch;
}
#kid1{
	border: 2px solid red;
	background: green;
	padding: 20px;
	margin: 10px;
	-webkit-box-flex: 1;
}
#kid2{
	border: 2px solid red;
	background: yellow;
	padding: 20px;
	margin: 10px;
	-webkit-box-flex: 1;
}
#kid3{
	border: 2px solid red;
	background: red;
	padding: 20px;
	margin: 10px;
	-webkit-box-flex: 1;
}
#kid4{
	border: 2px solid red;
	background: orange;
	padding: 20px;
	margin: 10px;
	-webkit-box-flex: 1;
}

